/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}
/* color palette */
:root {
  --bg-primary: #083b4c;
  --bg-square: #1389b2;
  --bg-buzz: #FFD166;
  --bg-fizz: #0cd6a1;
  --bg-fizzBuzz: #F0466F;
}
/* reset rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general rules */
body {
  background-color:var(--bg-primary);
}
.container {
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
}
h1 {
    color: white;
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1; 
  width: calc(100%/8);
  margin: .5rem;
  font-size: 1.1rem;
  font-weight: 700;
 background-color: var(--bg-square);
}

@media screen and (max-width: 1000px){
    .container{
        width: 100%;
        max-width: 800px;
    }
}
@media screen and (max-width: 575px){
    .container{
        max-width: 450px;
    }
    h1{
        font-size: 2rem;
    }
    .square{
        font-size: .6rem;
    }
    
}